/* This is an example of using Sass, otherwise plain CSS works too*/
@import "./variables";

@mixin line-break {
  content: "\A";
  white-space: pre;
}

html, body {
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0;
  font-family: 'Questrial', sans-serif;
}

#error-message {
  background: #cc4444;
  color: #eee;
  padding: 10px 0;
  text-align: center;
}

#header-style {
  height: 1.67em;
  background-color: $primary-four;
  max-width: 100%;
  color: $accent-one;
  border-bottom: 3px solid $accent-one;
  display: flex;
  justify-content: space-between;
  
  span {
    color: $accent-two;
  }
  #user-image-small {
    height: 85%;
    border-radius: 50%;
    border: 1px solid red;
    align-self: center;
    margin-right: 10px;
  }
}

.user-info-and-friends {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#user-image {
  margin: 1em 1em;
  height: 15%;
  width: 15%;
  border-radius: 50%;
  border: 3px solid $accent-one;
}

#user-info {
  border: 2px solid;
  height: 15%;
  width: 40%;
}

#user-friends {
  border: 2px solid;
  height: 15%;
  width: 30%;
  margin: 0 1em;
}

.tabs-section {
  display: flex;
  justify-content: space-around;
}

.tabs {
  flex: 1 0 0;
  height: 12%;
  padding-top: 2px;
  border: none;
  * {
    pointer-events: none;
  }
  &:hover {
    filter: brightness(85%);
  }
}


#user-stats {
  background-color: $primary-five;
  color: $primary-one;
  font-size: medium;
}

#sleep {
  background-color: $primary-four;
  color: $primary-one;
  font-size: medium;
}

#hydration{
  background-color: $primary-three;
  color: $primary-one;
  font-size: medium;
}

#activity {
  background-color: $primary-two;
  color: $primary-five;
  font-size: medium;
}

#friends {
  background-color: $primary-one;
  color: $primary-five;
  font-size: medium;
}

.data-display {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 3px;
  td {
    /* border: 1px solid black; */
  }

  table {
    @extend td;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
}

.info-box {
  min-width: 250px;
  min-height: 130px;
  flex: 1 0 0;
  text-align: center;
  p {
    height: 100%;
    vertical-align: middle;
    padding-bottom: 15px;
  }
  span {
    font-size: 2.5rem;
    &::before, &::after {
      @include line-break();
    }
  }
}

#section1 .info-box {
  background: $primary-five;
  color: $primary-one;
}
#section2 .info-box {
  background: $primary-four;
  color: $primary-one;
}
#section3 .info-box {
  background: $primary-three;
  color: $primary-one;
}
#section4 .info-box {
  background: $primary-two;
  color: $primary-five;
}
#section5 .info-box {
  background: $primary-one;
  color: $primary-five;
}

.input-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    width: 60%;
    height: 1.5rem;
    font-size: 1.3rem;
    margin-top: 5px;
  }
  button {
    @extend input;
    background: $primary-one;
    margin-bottom: 20px;
  }
}