/* media-queries*/
@import "./variables";
@import "./base";

@media (min-width: 640px) {
  body {
    background-color: red;
  }
}

@media (min-width: 768px) {
  body {
    background-color: green;
  }
}

@media (min-width: 1024px) {
  body {
    background-color: blue
  }
}

@media (min-width: 1280px) {
  body {
    background-color: pink
  }
}