/* media-queries*/
@import "./variables";

@media screen and (min-width: 600px) {
  .tabs {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 15%;
  }
  .data-display {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    table {
      width: 80%;
    }
  }
  #header-style {
    h1 {
      font-size: 2em;
    }
  }
  .user-info-and-friends {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    img {
      max-width: 200px;
    }
  }
}