/* sass variables*/
$background-dark: #8a8a8a;
$background-medium: #cecece;
$background-light: #f8f8f8;
$text-dark: #080808;
$text-medium: #333333;
$tetx-light: #fcfcfc;
$accent-light: #c2e1ff;
$accent-dark: #23507c;